.start-btn {
  display: block;
  padding: 21px;
  margin: 7px;
  min-width: max-content;
  text-align: center;
  width: 333px;
  align-self: center;
  background: linear-gradient(45deg, #007bff, #0056b3);
  color: white;
}
