.footer,
.footer-block {
  padding: 11px;
  height: 40px;
  width: 100%;
  overflow: auto;
}
.footer {
  background: linear-gradient(45deg, #007bff, #0056b3);
  border-top: 1px solid #3498db;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  overflow: auto;
  color: white;
  scrollbar-width: none;
  padding-bottom: 35px;
}
.footer-block {
  display: block;
}

.footer-container {
  /* padding: 7px; */
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
